@import "bourbon"
@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	font-weight: 700
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	margin: 0
	overflow-x: hidden
	color: $text-color
	background-color: $pink-color

ul, li 
	margin: 0
	padding: 0
	list-style-type: none

h1, h2, h3, h4, h5, h6
	font-family: "CormorantGaramond", sans-serif

h1 
	font-size: 90px
	font-family: "CormorantGaramond bold", sans-serif
	line-height: 80px
h2 
	font-size: 60px
h3 
	font-size: 36px
h4 
	font-size: 30px
	line-height: 36px
a 
	color: $text-color
	&:hover, &:focus, &active
		outline: none!important

.before
	position: absolute
	content: ""
	top: 0
	left: 0

.content
	max-width: 1170px
	margin: 0 auto

.logo
		font-size: 24px
		text-transform: uppercase
		text-decoration: none
		line-height: 26px
		&:hover, &:focus
			text-decoration: none

.menu
	li 
		margin-right: 36px
		display: inline-block
		a 
			text-decoration: none
			display: block
			&:hover
				text-decoration: underline


.menu-wrap
	left: -100%
	&.active	
		position: fixed
		width: 50%
		min-width: 250px
		height: 100%
		background-color: #fff
		left: 0
		top: 0
		transition: all ease-in-out 400ms
		z-index: 100
		.menu 
			position: absolute
			top: 50%
			left: 50px
			transform: translateY(-50)
			li 
				display: block
		.toggle-menu
			position: absolute
			right: -50px
			top: 50px
			span 
				transform: rotate(45deg)
				top: 15px
				&::after
					top: 0px
					transform: rotate(90deg)
				&::before
					opacity: 0

.toggle-menu
	position: relative
	display: none
	width: 50px
	height: 34px
	cursor: pointer
	span 
		position: absolute
		top: 0
		left: 0
		width: 50px
		height: 3px
		background-color: $text-color
		transition: all ease-in-out 300ms
		&::before, &::after
			position: absolute
			content: ""
			width: inherit
			height: inherit
			background-color: inherit
			transition: inherit
		&::before
			top: 15px
		&::after
			top: 30px

.soc-icons
	display: inline-block
	float: right
	li 
		display: inline-block
		margin-right: 25px
		a 
			display: block
			font-size: 20px
			line-height: 26px
		&:last-child
			margin-right: 0

.center
	text-align: center

.header	
	background-size: cover
	background-position: center top
	min-height: 500px
	
	.top-line
		width: 100%
		padding: 25px 0

		time
			font-size: 14px
			float: right

	.bottom-line
		align-items: center
		padding: 20px 0
		position: relative
		margin-bottom: 8%

		&::before, &::after
			@extend .before
			background-color: #cec5c9
			width: 180%
			height: 1px
			left: 50%
			transform: translateX(-50%)
		&::after
			top: 100%	
		
		.search
			float: left
			input
				border: none
				padding-left: 30px
				padding-right: 0
				width: 20px
				font-weight: 300
				border-radius: 10px
				border: 1px solid transparent
				margin-right: 8px
				background-color: $pink-color
				transition: all ease-in-out 0.3s
			i 
				cursor: pointer
				height: 20px 
				font-size: 18px
				margin-left: -32px
			&.on 
				input 	
					width: calc(100% - 26px)
					padding-left: 10px
					padding-right: 28px


	// слайдер шапки
	.slider-header
		text-align: center
		position: relative
		margin-bottom: 10%
		.slider
			position: relative
			span 
				font-family: "CormorantGaramond bold", sans-serif
				font-size: 30px
				line-height: 20px
			h1 
				margin: 80px 0
			h4 
				margin-top: 20px
				margin-bottom: 10px
				color: #fafafa
				font-family: "CormorantGaramond semibolditalic", sans-serif
			u 
				color: $yellow-color
			time 
				color: #fafafa
				font-weight: 600
				line-height: 28px
			&-wrap
				max-width: 830px
				margin: 0 auto
			
			.nav-number
				font-size: 350px
				line-height: 250px
				position: absolute
				top: 50%
				left: -50px
				transform: translate(-50%, -50%) rotate(-90deg)
				color: #fafafa
				font-family: "CormorantGaramond bold", sans-serif

		// навигация по слайдеру
		.slider-nav
			position: absolute
			top: 50%
			transform: translateY(-50%)
			background-color: transparent
			width: 40px
			height: 40px
			border: 2px solid $yellow-color
			border-radius: 50% 
			z-index: 10
			text-align: center
			cursor: pointer
			opacity: .7
			&:hover
				opacity: 1
			i 	
				color: $yellow-color 
				font-size: 25px
				line-height: 35px
				font-weight: 300
			&::before
				position: absolute
				content: ""
				width: 50px
				height: 2px
				background-color: $yellow-color
				top: calc(50% - 1px)
			&.nav-prev
				left: 10%
				&::before
					left: 26px
			&.nav-next
				right: 10%
				&::before
					right: 26px
	.bottom
		color: $yellow-color
		opacity: .5
		text-align: center
		font-size: 38px
		line-height: 30px
		cursor: pointer
		display: inline-block
		margin-bottom: 50px
		&:hover
			opacity: 1
		
/// навигация по шапке	
.slider-navigation
	.header-slide
		.header-img
			width: 100px
			height: 100px
			border-radius: 50%
			background-color: #fcfafa
			display: inline-block
			position: relative
			box-shadow: 0 24px 40px 0 rgba(#e1d6d2, .65)
			float: left
			margin-right: 15px
			img
				max-width: 100%
				line-height: 100px
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)
		.header-categories
			span
				font-family: "CormorantGaramond bolditalic", sans-serif
				font-size: 24px
		.header-icon	
			float: right






@import "media" 
